body {
    font-family: 'Vazirmatn', sans-serif;
}

header {
    padding: 100px 0;
}

.card {
    margin-bottom: 20px;
}
.skills-marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #00000062;
    padding: 10px 0;
}

.skills-track {
    display: inline-block;
    animation: marquee 30s linear infinite;
}

.skill {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
